
.header {
    @apply fixed top-0 w-full z-40 transform duration-300 bg-transparent ease-in-out;
}

.wrapper {
    @apply flex justify-between mx-4 py-2 md:mx-6 lg:mx-8 md:py-4 text-gray-700;
}

.title {
    @apply text-2xl font-noto_sans font-bold;
}

.subtitle {
    @apply font-noto_sans text-[10px] scale-90 -translate-x-[6px]  -translate-y-1  w-full;
}

.mobile_menu {
    @apply flex md:hidden justify-around items-center cursor-pointer text-orange-500;
}

.desktop_menu {
    @apply hidden md:flex items-center justify-end space-x-3 text-xs xl:text-sm lg:space-x-8 ml-8 bg-white px-6 lg:px-8 rounded-full shadow-md text-gray-800 border  font-noto_sans font-bold;
}

.under_link {
    @apply fixed bottom-24 md:bottom-28 right-6 z-40 bg-gradient-to-tr to-red-400 from-purple-700 rounded-full shadow-md transform duration-300 ease-in-out hover:scale-105;
}

.under_button {
    @apply cursor-pointer;
}
.under_text {
    @apply mx-auto text-xs md:text-sm lg:text-base text-gray-500;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.show {
    @apply opacity-100;
    pointer-events: auto;
}
.hide {
    @apply bg-white shadow-md text-xs;
    ponter-events: auto;
}

.hidden_header {
    @apply hidden;
}